<div id="<%= dom_id feat %>">
  <p>
    <strong>Name:</strong>
    <%= feat.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= feat.description %>
  </p>

  <p>
    <strong>Character:</strong>
    <%= feat.character_id %>
  </p>

</div>
