<p style="color: green"><%= notice %></p>

<h1>Feats</h1>

<div id="feats">
  <% @feats.each do |feat| %>
    <%= render feat %>
    <p>
      <%= link_to "Show this feat", character_feat_path(@character, feat) %>
    </p>
  <% end %>
</div>

<%= link_to "New feat", new_character_feat_path(@character) %>
