<div id="<%= dom_id skill %>">
  <p>
    <strong>Name:</strong>
    <%= skill.name %>
  </p>

  <p>
    <strong>Modifier:</strong>
    <%= skill.modifier %>
  </p>

  <p>
    <strong>Character:</strong>
    <%= skill.character_id %>
  </p>

</div>
