<div id="<%= dom_id weapon %>">
  <div class="card"  style="width: 18rem;">
    <ul class="list-group list-group-flush" >
      <li class="list-group-item" id = "details">
        <p>
          <strong>Damage:</strong>
          <%= weapon.damage %>
        </p>

        <p>
          <strong>Weapon type:</strong>
          <%= weapon.weapon_type %>
        </p>

        <p>
          <strong>Name:</strong>
          <%= weapon.name %>
        </p>

        <!--<p>
          <strong>Character:</strong>
          <%#= weapon.character_id %>-->
<!--        </p>-->
      </li>
    </ul>
  </div>

</div>
