<div class="container">
  <div class="row">
    <div class="col-md-5">
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#strengthModal">
        Strength
      </button>

      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#dexterityModal">
        Dexterity
      </button>

      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#constitutionModal">
        Constitution
      </button>
    </div>
    <div class="col">

      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#intelligenceModal">
        Intelligence
      </button>

      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#wisdomModal">
        Wisdom
      </button>

      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#charismaModal">
        Charisma
      </button>

    </div>
  </div>
</div>
