<div id="<%= dom_id spell %>">
  <p>
    <strong>Name:</strong>
    <%= spell.name %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= spell.level %>
  </p>

  <p>
    <strong>Character:</strong>
    <%= spell.character_id %>
  </p>

</div>
