<div id="<%= dom_id spell %>">
  <div class="card"  style="width: 18rem;">
    <ul class="list-group list-group-flush" >
      <li class="list-group-item" id = "details">
        <p>
          <strong>Name:</strong>
          <%= spell.name %>
        </p>

        <p>
          <strong>Level:</strong>
          <%= spell.level %>
        </p>
        <%= link_to "Edit spell", edit_character_spell_path(@character, spell) %>
        
      </li>
    </ul>
  </div>

</div>
