
body {
  background-color: black;
  color: white;
  Font-family: "Montserrat";
  font-smooth: always;
  font-size: 22px;
}
.health-bar{
  color: red;
}
.collapse-content {
  background-color: red;
  color: white;
  
}

.navbar {
  background-color: #AA0000;
  color: white;
  
}

.btn-secondary {
  margin-bottom: 20px;
  background-color: #AA0000;
  color: white;
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.btn-primary {
  background-color: #AA0000;
  color: white;
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.navbar-toggler-icon span {
  background-color: white;
  
}

.modal-header {
  background-color: #AA0000;
}

.modal-body {
  background-color: black;
}

.modal-footer {
  background-color: black;
}

#land-body{
  margin-top: 100px;
  margin-left: 500px;
  margin-right: 500px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sign-style{
  font-size: 14px;

}
#index-title{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#details {
  background-color: #AA0000;
  color: white;


}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 0.5s;
}

