<style>body {
  background-color: black;
  color: white;
  Font-family: "Montserrat";
  font-smooth: always;
}

.collapse-content {
  background-color: red;
  color: white;
}

.navbar {
  background-color: red;
  color: white;
}

.btn-secondary {
  margin-bottom: 20px;
  background-color: red;
  color: white;
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.btn-primary {
  background-color: red;
  color: white;
  width: 100px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.navbar-toggler-icon span {
  background-color: white;
}

.modal-header {
  background-color: red;
}

.modal-body {
  background-color: black;
}

.modal-footer {
  background-color: black;
}

#details {
  background-color: red;
  color: white;


}
</style>
