<div id="<%= dom_id feature %>">
  <p>
    <strong>Name:</strong>
    <%= feature.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= feature.description %>
  </p>

  <p>
    <strong>Character:</strong>
    <%= feature.character_id %>
  </p>

</div>
