<div id="<%= dom_id feature %>">
  <div class="card"  style="width: 18rem;">
    <ul class="list-group list-group-flush" >
      <li class="list-group-item" id = "details">
        <p>
          <strong>Name:</strong>
          <%= feature.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= feature.description %>
        </p>

      <%= link_to "Edit feature", edit_character_feature_path(@character, feature) %>
      </li>
    </ul>
  </div>

</div>
