<p style="color: green"><%= notice %></p>

<h1>Features</h1>

<div id="features">
  <% @features.each do |feature| %>
    <%= render feature %>
    <p>
      <%= link_to "Show this feature", character_feature_path(@character, feature) %>
    </p>
  <% end %>
</div>

<%= link_to "New feature", new_character_feature_path(@character) %>
